{{- /* Minimal X/Twitter shortcode fallback to satisfy themes that expect it. */ -}}
{{- $v := "" -}}
{{- with .Get 0 -}}{{- $v = . -}}{{- end -}}
{{- if not $v -}}
  {{- with .Get "url" -}}{{- $v = . -}}{{- end -}}
{{- end -}}
{{- if not $v -}}
  {{- $user := .Get "user" | default "" -}}
  {{- $id := .Get "id" | default "" -}}
  {{- if and $user $id -}}
    {{- $v = printf "https://x.com/%s/status/%s" $user $id -}}
  {{- end -}}
{{- end -}}

{{- if $v -}}
  <p><a href="{{ $v | safeURL }}" rel="nofollow noopener" target="_blank">{{ $v }}</a></p>
{{- else -}}
  <!-- x shortcode: missing parameters -->
{{- end -}}
